.playPage-image {
  background-image: url("../images/rainbow2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 30%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  /* position: relative; */
}

.containerAlignment {
  margin-bottom: 10px;
  width: 100%;
  margin-top: 20px;
}

.rowAlignment {
  width: 100%;
}