.playPage-image {
  background-image: url("../images/rainbow2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 30%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  /* position: relative; */
}

.cardDeck {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #212529;
  text-align: center;
}
/* .timecounter {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #212529;
  text-align: center;

} */

.containerAlignment {
  margin-bottom: 10px;
  width: 100%;
  margin-top: 20px;
}

.rowAlignment {
  width: 100%;
}