.containerAlignment {
  justify-content: center;
  background-color: grey;

  /* added */
  width: auto;
  height: auto;
  /* margin: auto; */
  /* display: flex; */
  perspective: 1000px;
}

.rowAlignment {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-columns {
  column-count: 3;
}
