* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.containerAlignment {
  justify-content: center;
  display: flex;
  padding: 0;
}

.cardRows {
  padding: 10px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  display: inline-grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  justify-items: center;
}
