.containerAlignment {
    justify-content: center;
    background-color:grey;

    /* added */
    width: 640px;
    height: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    flex-direction: row;
}

.rowAlignment {
    flex-direction: row;
}