.flip-card {
  background-color: transparent;
  height: 140px;
  width: 100%;
  display: grid;
  border-radius: 5px;
}

/* Style the front and back side */
.flip-card-front,
.flip-card-back {
  height: 140px;
  width: 100%;
  /* background-color: rgb(59, 59, 214); */
  color: white;
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.flip-card-front {
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(75,108,183,1) 0%, rgba(55,82,141,1) 90% ); */
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(84,64,210,1) 0%, rgba(33,67,140,1) 90% );
}

.flip-card-back {
  background-color: dodgerblue;
}

.individualCard {
  width: 100%;
}
