
/* Below line is used for online Google font */
 @import url('https://fonts.googleapis.com/css2?family=Atma:wght@600&family=Finger+Paint&family=Happy+Monkey&family=Henny+Penny&family=Mountains+of+Christmas:wght@700&display=swap');

/* CSS rules to specify families */
font-family: 'Atma', cursive;
font-family: 'Finger Paint', cursive;
font-family: 'Happy Monkey', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Mountains of Christmas', cursive;