/* Below line is used for online Google font */
@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");

.backgroundHomePageImage {
  background-image: url(../images/rainbowandgrass.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  background-position: 50% 50%;
}
.title {
  font-family: "Henny Penny", cursive;
  font-size: 150px;
  font-weight: 700;
  color: rgb(117, 8, 121);
  position: relative;
  margin-top: 2rem;
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  justify-content: center;
}
.description-card {
  font-family: "Happy Monkey", cursive;
  font-size: 20px;
  background-color: inherit;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

div.card.col-8.col-lg-3.login-card.mt-2.hv-center.loginCard {
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  border-radius: 15px;
}

.instruction {
  font-family: "Atma", cursive;
  font-size: 20px;
  font-weight: 700;
  color: rgb(209, 13, 13);
  padding-bottom: 10px;
}

div.form-text.newUser {
  font-family: "Atma", cursive;
  font-size: 20px;
  font-weight: 700;
  color: rgb(57, 9, 145);
}
.btn.btn-primary.submit {
  font-family: "Atma", cursive;
}
button.btn.btn-warning {
  margin-left: 20px;
  margin-bottom: 15px;
}

/* adding responsiveness */

/* MOBILE  */
@media screen and (max-width: 700px) {
  div.backgroundHomePageImage {
    background-position: 50% 50%;
    background-size: cover;
  }
  div.col-12.col-lg-12.title {
    font-size: 50px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  img {
    width: 80px;
    height: 80px;
  }

  .description-card {
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
  }
  div.card.col-8.col-lg-3.login-card.mt-2.hv-center.loginCard {
    margin-top: 1rem !important;
  }

  div.form-text.instruction {
    font-size: 25px;
  }

  div.form-text.newUser {
    font-size: 15px;
  }
}

/* TABLET */
@media only screen and (max-width: 1400px) and (min-width: 720px) {
  div.backgroundHomePageImage {
    background-position: 50% 50%;
    background-size: cover;
  }
  div.col-12.col-lg-12.title {
    font-size: 90px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  .description-card {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
  }
  img {
    width: 150px;
    height: 150px;
  }
  div.card.col-8.col-lg-3.login-card.mt-2.hv-center.loginCard {
    margin-top: 2rem !important;
  }

  div.form-text.instruction,
  div.form-text.newUser {
    font-size: 30px;
  }
}
