/* Below line is used for online Google font */
@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");

.BackgroundSignUpImage {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url(../images/halfRainbow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  background-position: 50% 50%;
  overflow: auto;
}

div.card.col-9.col-lg-6.login-card.mt-2.hv-center {
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  /* margin-top: 1.5rem !important; */
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
  padding: 25px;
}

.instructionSignUp {
  font-family: "Atma", cursive;
  font-size: 40px;
  font-weight: 700;
  color: darkcyan;
  margin-top: 1.5rem;
}

/* adding mobile responsiveness */

@media screen and (max-width: 1000px) {
  div.BackgroundSignUpImage {
    background-size: cover;
    /* background-position: 70%; */
  }
  div.formAlignmentSignUp {
    width: 50%;
    margin-left: 2rem;
  }
  div.form-text.instructionSignUp {
    font-size: 25px;
    margin-bottom: 0.5rem;
  }
}
